Body{
    background-image: url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=740&t=st=1684428260~exp=1684428860~hmac=adac0cd99961f77f55cf2722550f42d46c018419e2d92f58f22fb48eb0c3b513);
   background-repeat: no-repeat;
   background-size:cover;
}
/* .carousel-img{
    width: 80vw;
    margin: 0 auto;
    display: block;
} */